.main-signup {
    background-color : #DDE4E1;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 1900px;
    margin: 0 auto;
    padding-top : 100px;
    margin-bottom : 70px;
  }

  .submit {
    justify-content: center;
    align-items: center;
    display:flex;
    width: 360px;
    height: 66px;
    color: white;
    margin: 0 auto;
    margin-bottom : 70px;
    border-radius: 24px;
    border : none;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #579878;
    transition: background-color 0.5s ease;
  }

  .submit:hover {
    background-color: #0056b3;
  }

  .form{
    /* justify-content:left; */

  }
 
  .basic-info{
    margin-left : -600px;
    font-size : 30px;
    font-weight: bold;
  }

  .basic-info-1{
    margin-top: -30px;
    margin-left : -600px;
    font-size : 30px;
    font-weight: bold;
  }

  .input-info{
    margin-left: 50px;
    width: 500px;
    height: 45px;
    border : none;
  }

  .label{
    margin-left: -100px;
    font-size: 20px;
    font-weight: bold;
  }

  .label-sex{
    margin-left: -200px;
    margin-right: 180px;

    font-size: 20px;
    font-weight: bold;
  }

 .DuplicateCheck{
  margin-left: 10px;
  
 }

  .sex-f{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border : none;
    background-color: #C2D4CC;
    font-size : 20px;
    color: white;
    font-weight: bold;
  }

  .sex-f:hover{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border : none;
    background-color: #579878;
    font-size : 20px;
    color: white;
    font-weight: bold;
  }

  .sex-m{
    margin-left: 30px;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border : none;
    background-color: #C2D4CC;
    font-size : 20px;
    color: white;
    font-weight: bold;
  }

  .sex-m:hover{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border : none;
    background-color: #579878;
    font-size : 20px;
    color: white;
    font-weight: bold;
  }

  .selected {
    background-color: #579878;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  #name{
    margin-left: 90px;
  }

  #id{
    margin-left: 70px;
  }
  #passwordConfirm{
    margin-left: 68px;
  }